
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-font-weight: bold;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;

}
.button:hover{
    -fx-background-color: #3a3a3a;

}

.tree-view, .tree-cell {
    -fx-background-color: "#1d1d1d" ;
    -fx-text-fill: white ;
    -fx-border-width: 2;
}
.tree-view, #VBOX {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.tree-cell:hover {
    -fx-background-color: #3a3a3a ;
}

#VBOX {
    -fx-background-color: #1d1d1d;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.text-field{
    -fx-background-color: #4a4a4a ;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-font-weight: bold;
}
.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: white;
    -fx-padding: 0.4em; /* 4 */
    -fx-shape: "M 0 -4 L 8 0 L 0 4 z";
}
